body{
margin:0;
padding:0;
background:#111;
color:#fff;
font-family:Arial;
}

.app{
padding:20px;
}

button{
width:100%;
padding:20px;
margin-top:15px;
border:none;
border-radius:12px;
font-size:18px;
background:#1e88e5;
color:white;
}
